extends layout

block content
  .container
    h1 Login Page
    p.lead Say something worthwhile here.


    form(role='form', action="/login",method="post")
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit



      <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
      <label class="mdl-textfield__label" for="sample4">Number...</label>
      <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
      </form>


      if messages
        p= messages