.zx-activities
  display flex
  flex-direction column

  .row
    display flex
    flex-direction row
    border 0
    border-bottom 1px solid #ddd
    padding 20px
    font-size 1.5em
    background-color #fff

    .tags
      flex 1 70%

      a
        color: #757575;
        font-size: 0.8em;
        cursor: pointer;
        font-family: 'PT Sans', sans-serif;
        background-color: #f1f1f1;
        padding: 2px;
        margin: 2px;

    .kind-info
      flex 1 30%
      vertical-align middle
      margin auto

      .kind

        a
          color: #0F4C59;
          cursor: pointer;
          font-size: 1em;
          font-family: Roboto;
          font-weight: bolder;

        .private
          color: #a1882b!important;
          background-color: #ffefc6;
          border-radius: 3px;
          text-transform: uppercase;
          vertical-align: middle;
          font-size: 0.5em!important;
          display: inline-block;
          padding: 1px 3px 1px 3px;


      .date
        font-size: 1.1em;
        font-family: Roboto;
        display: inline-block;
        padding: 5px;
        font-weight: normal;
        color: #666;
        margin-top: 20px;
        width 100%

        span
          text-align: center;
          width: 100%;
          display: inline-block;
          font-size: 1em;
          margin-top: 10px;


        .day-month, .day
          font-size: 0.5em;
          font-weight: lighter;
          display: inline-block;
          width: 100%;
          text-align: center;
