.activities
  display flex
  flex-direction column
  margin-top 5px

  .row
    flex 1 100%
    display flex
    flex-direction row
    border 0
    border-bottom 1px solid #ddd
    padding 20px
    font-size 1.5em
    margin 5px
    background-color #fff

    .kind-info
      flex 1 30%
      vertical-align middle
      margin auto

      .kind

        a
          cursor pointer
          font-family Roboto
          font-weight bolder

        .private
          color: #a1882b!important;
          background-color: #ffefc6;
          border-radius: 3px;
          text-transform: uppercase;
          vertical-align: middle;
          font-size: 0.5em!important;
          display: inline-block;
          padding: 4px 5px 3px;
