.zx-grid
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .zx-kind
    color: #fff;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 2em;
    border: 0;
    flex-basis: 33%;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-shrink: 1;
    line-height: 6em;
    min-width: 5em;
    text-align: center;
    padding: 1em 1em 1em 1em;
    cursor: pointer;