.toolbar-menu

  a.actived
    border-bottom: 1px solid #6D8888;
    height: 30px!important;
    padding: 0;
    font-size: larger;

  a
    color: #6D8888;
    text-decoration: none;
    text-align: center;
    margin 1em