.zx-toolbar
  font-size: large;
  font-weight: bold;
  padding: 2px;
  background-color: #fff !important;
  box-shadow: 1px 1px 5px #aaa !important;
  display: flex;
  position: fixed;

  .mdl-layout__drawer-button
    left: initial;
    right: 0;
    color: #757575;

  .mdl-layout__header-row
    padding: 0;

  .zx-add-button
    button-default()

  .zx-toolbar-title

    display: flex;

    .zx-toolbar-info
      padding-left: 0.5em;
      padding-right: 0.5em;

      .zx-toolbar-info-logout
        margin-left: 2px;
        top: 35px;
        position: absolute;

        a
          color: #757575;
          font-size: 0.7em;
          text-decoration: none;
          font-weight: bold;
          font-family: sans-serif;

      .zx-toolbar-info-name
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        margin-left: 0;
        font-size: 1.6em;
        text-decoration: none;
        color: #363C3C;
        line-height: 1.6em;
        font-family: Roboto;

    .zx-toolbar-logo

      img
        border-radius: 100px;
        width: 45px;
        height: 45px;
        background-color: #fff;
        padding: 5px;
        margin: 2px;


.mdl-layout__drawer
  left: initial;
  right: 0;
  transform:translateX(250px);