.zx-toolbar
  font-size: large;
  font-weight: bold;
  padding: 2px;
  background-color: #fff !important;
  box-shadow: 1px 1px 5px #aaa !important;
  display: flex;

  .zx-add-button
    button-default()