body
  padding 0
  margin 0
  height 100%
  font-family 'Roboto'
  background-color #EEF2F6

  .unlogged-card
    margin: auto;
    width: fit-content;

  .card-login
    margin: auto;

.content {
  position: absolute;
  width: 100%;
  margin-top: 62px;
}

button-default()
  background: #E1E2DC;
  color: #363C3C;
